{% extends 'base.html' %}

{% block content %}
{%include "navbar.html"%}

<h1>Library site</h1>

{% if unread %}
<br><a href="{% url 'notice_borrow_list' %}">You have unread messages</a></br>
{% endif %}

<br><a href="{% url 'book_list' %}">Look all books</a></br>

{% if request.user.groups.first.name == 'librarians' or request.user.is_staff %}
    <a href="{% url 'book_create' %}">Create book</a>
    <br><a href="{% url 'author_list' %}">All authors</a>
    <br><a href="{% url 'genre_list' %}">All genres</a>
    <br><a href="{% url 'borrow_list' %}">All borrow requests</a>
    <br></br>
{% endif %}

{% endblock %}